aiohttp==3.7.4.post0
alpaca-backtrader-api==0.13.1
alpaca-trade-api==0.52.0
async-timeout==3.0.1
attrs==21.2.0
backtrader==1.9.76.123
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
cssselect==1.1.0
Deprecated==1.2.12
finviz==1.4.2
idna==2.10
lxml==4.6.3
multidict==5.1.0
newtulipy==0.4.5
numpy==1.20.3
pandas==1.2.4
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scipy==1.6.3
six==1.16.0
soupsieve==2.2.1
tenacity==8.0.1
toolz==0.11.1
tqdm==4.62.1
trading-calendars==2.1.1
typing-extensions==3.10.0.0
urllib3==1.26.4
user-agent==0.1.9
websocket-client==0.59.0
websockets==8.1
wrapt==1.12.1
yarl==1.6.3
